<!-- 
    <input type="text" [(ngModel)]="name" placeholder="Enter a name here 😉" />
<p>Entered name is: {{ name }}</p> 
-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent</h3>
      <hr />
      <!-- <app-servers></app-servers> -->
      <div app-servers></div>
    </div>

    <!-- ->Challenge Codes Here <- -->
    <!-- 
      <div class="col-xs-12">
      <app-success-alert></app-success-alert>
      <app-warning-alert></app-warning-alert>
    </div> 
  -->
    <!-- <assignment-two></assignment-two> -->
    <app-assignment-three></app-assignment-three>
    <!-- -> Challenge Ends Here <- -->
  </div>
</div>
